@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');

* {
   padding: 0;
   margin: 0;
   font-family: 'Space Grotesk', sans-serif;
   font-weight: 500;
   box-sizing: border-box;
   letter-spacing: 0.1rem;
}
html {
   font-size: 62.5%;
}
.container {
   height: 95vh;
   background: url('../images/bg-main-desktop.png') no-repeat left;
   position: relative;
}

/* #######################################
   #### Output Section   ##################
   ####################################### */
.card {
   position: relative;
   width: 48rem;
   height: 100%;
}
.card-front {
   width: max-content;
   position: absolute;
   top: 10%;
   left: 12rem;
   z-index: 2;
}
.card-front-content {
   position: absolute;
   top: 3rem;
   left: 3rem;
   color: hsl(0, 0%, 100%);
}
.card-front-content img {
   margin-bottom: 6rem;
}
.output-card-number {
   color: hsl(0, 0%, 100%);
   font-size: 3.2rem;
   margin-bottom: 2rem;
}
.output-name-date {
   width: 38rem;
   display: flex;
   justify-content: space-between;
}
.output-name {
   font-size: 1.6rem;
   text-transform: uppercase;
}
.output-date {
   font-size: 1.4rem;
}
.card-back {
   position: absolute;
   top: 55%;
   right: -16rem;
}
.output-cvc {
   position: absolute;
   top: 11rem;
   right: 6rem;
   color: hsl(0, 0%, 100%);
   font-size: 1.4rem;
}

/* #######################################
   #### Input Section   ##################
   ####################################### */

.card-details {
   width: 35rem;
   position: absolute;
   top: 30%;
   right: 10%;
}

form {
   display: grid;
   grid-template-columns: 1fr;
   row-gap: 2rem;
}
.created form {
   display: none !important;
}
form label {
   text-transform: uppercase;
   font-size: 1.4rem;
   color: hsl(278, 68%, 11%);
   display: block;
   margin-bottom: 1rem;
}
form input {
   height: 4.5rem;
   border: 0.1rem solid hsl(270, 3%, 87%);
   border-radius: 1rem;
   padding-left: 1rem;
}
.success input {
   border: 0.1rem solid hsl(278, 94%, 30%);
}
form input::placeholder {
   font-size: 1.6rem;
}
#name,
#card-number {
   width: 100%;
}
.date-cvc {
   display: flex;
   justify-content: space-between;
}
.exp-date input {
   width: 8rem;
   margin-right: 0.8rem;
}
.cvc input {
   width: 15rem;
}
.error-message {
   color: hsl(0, 100%, 66%);
   font-style: italic;
   text-transform: capitalize;
   font-size: 1rem;
   visibility: hidden;
   opacity: 0;
   transition: all 0.5s;
}
.error .error-message {
   visibility: visible;
   opacity: 1;
}
button {
   width: 100%;
   height: 5rem;
   border-radius: 1rem;
   color: white;
   font-size: 1.6rem;
   outline: none;
   background-color: hsl(278, 68%, 11%);
   border-color: hsl(270, 3%, 87%);
   margin-top: 1rem;
}
button:hover {
   background-color: hsl(278, 94%, 30%);
}
.completed button {
   margin-bottom: 2rem;
}
.completed {
   display: none;
   text-align: center;
}
.created .completed {
   display: block !important;
}
.completed h1 {
   color: hsl(278, 68%, 11%);
   font-size: 3rem;
   text-transform: uppercase;
   margin: 2rem 0;
}
.completed p {
   font-size: 1.6rem;
   color: hsl(300, 0%, 61%);
   margin-bottom: 2rem;
}
.completed a {
   color: hsl(278, 68%, 11%);
}
.completed a:hover {
   cursor: pointer;
   text-decoration: underline;
}

/* #######################################
   #### Footer Section   ##################
   ####################################### */
footer {
   width: 100%;
   display: grid;
   place-content: center;
   padding: 1rem;
}

.attribution {
   font-size: 11px;
   text-align: center;
}
.attribution a {
   color: hsl(228, 45%, 44%);
}

/* #######################################
   #### Media Queris Section   ###########
   ####################################### */
@media only screen and (max-width: 1110px) {
   .card-front {
      left: 2%;
   }
   .card-back {
      right: 2%;
   }
   .card-details {
      right: 7%;
   }
}
@media only screen and (max-width: 920px) {
   .container {
      background: url('../images/bg-main-mobile.png') no-repeat top;
      background-size: stretch;
   }

   .card {
      left: 50%;
      transform: translateX(-50%);
      height: 35rem;
      width: 35rem;
   }
   .card-back {
      top: 1rem;
      right: 0;
   }
   .card-front {
      top: 11rem;
      left: 0;
   }
   .card-back img,
   .card-front-img {
      width: 30rem;
   }
   .card-details {
      top: 30rem;
      right: 50%;
      transform: translateX(50%);
   }
   .output-cvc {
      top: 7rem;
      right: 4rem;
   }
   .card-front-content {
      top: 2rem;
      left: 2rem;
   }
   .card-front-content img {
      margin-bottom: 4.5rem;
      width: 5rem;
   }
   .output-card-number {
      color: hsl(0, 0%, 100%);
      font-size: 2rem;
      margin-bottom: 0.8rem;
   }
   .output-name-date {
      width: 24rem;
   }
   .output-name {
      font-size: 1.2rem;
      text-transform: uppercase;
   }
}
@media only screen and (max-width: 364px) {
   html {
      font-size: 52.5%;
   }
   .card,
   form {
      padding: 1rem;
   }
}
/* @media only screen and (max-width: 320px) {
   html {
      font-size: 42.5%;
   }
} */
